<div class="row justify-content-md-center align-items-center" *ngIf="producto">
    <div class="col-lg-10">
        <paper-tarjeta cabecera="{{producto.nombre}}" pie="{{producto.codigo}}">
            <div class="card-block">
                <div class="row justify-content-md-center align-items-center">
                    <div class="col-lg-4">
                        aqui es donde va la imagen
                    </div>
                    <div class="col-lg-4">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th>Código de venta:</th>
                                    <td>{{producto.codigo}}</td>
                                </tr>
                                <tr>
                                    <th>Nombre:</th>
                                    <td>{{producto.nombre}}</td>
                                </tr>
                                <tr>
                                    <th>Proveedor:</th>
                                    <td>{{producto.proveedor}}</td>
                                </tr>
                                <tr>
                                    <th>Marca:</th>
                                    <td>{{producto.marca}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </paper-tarjeta>
        <div>
            <button type="button" class="btn btn-primary" (click)="volver()">Volver</button>
        </div>
    </div>
</div>