<h1 class="text-center">Listado productos</h1>
<div *ngIf="isCargando; else tablaProductos">
    <h3>Cargando...</h3>
</div>
<ng-template #tablaProductos>
    <div class="row justify-content-md-center align-items-center">
        <div class="col-lg-10">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Imagen</th>
                        <th>Nombre</th>
                        <th>Marca</th>
                        <th>Bodega</th>
                        <th>Gestión</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let producto of listadoProductos">
                        <th scope="row">{{producto.codigo}}</th>
                        <td>{{producto.urlFoto}}</td>
                        <td>{{producto.nombre}}</td>
                        <td>{{producto.marca}}</td>
                        <td>{{producto.bodega}}</td>
                        <th>
                            <i class="fa fa-eye" aria-hidden="true" (click)="verDetalle(producto)" style="cursor: pointer"></i>
                            <i class="fa fa-pencil" aria-hidden="true" (click)="irAProductoForm(producto)" style="cursor: pointer"></i>
                            <i class="fa fa-trash" aria-hidden="true" (click)="confirmarEliminacion(producto, modalConfirmacionEliminacion)" style="cursor: pointer"></i>
                        </th>
                    </tr>
                </tbody>
            </table>
            <div>
                <button type="button" class="btn btn-primary" (click)="nuevoProducto()">Nuevo producto</button>
            </div>
        </div>
    </div>
</ng-template>

<paper-modal-confirmacion-eliminar #modalConfirmacionEliminacion></paper-modal-confirmacion-eliminar>