<div class="container-fluid">
    <paper-cabecera></paper-cabecera>
</div>
<div class="container">
    <paper-barra-navegacion></paper-barra-navegacion>
    <paper-cuerpo></paper-cuerpo>
    <!-- <paper-pie-pagina></paper-pie-pagina> -->
</div>
<paper-snackbar></paper-snackbar>