<!-- Trigger the modal with a button -->
<button id="btnOpenModal" type="button" class="invisible btn btn-info btn-lg" data-toggle="modal" [attr.data-target]="'#'+idModal">Open Modal</button>

<!-- Modal -->
<div id="{{idModal}}" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{titulo}}</h4>
      </div>
      <div class="modal-body">
        <ng-content select="[cuerpo-modal]"></ng-content>
      </div>
      <div class="modal-footer">
        <ng-content select="[pie-modal]"></ng-content>
        <button id="btnCerrarModal" type="button" class="btn btn-default" data-dismiss="modal">{{nombreBtnCerrar}}</button>
      </div>
    </div>

  </div>
</div>