<h1 class="text-center">Formulario producto</h1>
<div class="row justify-content-md-center align-items-center" *ngIf="productoForm">
    <div class="col-lg-10">
        <form [formGroup]="productoForm" novalidate>
            <div class="form-group">
                <label>
                    Código
                    <span class="required text-warning" *ngIf="productoForm.get('codigo').errors">*</span>
                </label>
                <input type="text" class="form-control" formControlName="codigo" placeholder="Código de venta">
                <small class="form-text text-muted">Código de venta del producto.</small>
            </div>
            <div class="form-group">
                <label>
                    Nombre
                    <span class="required text-warning" *ngIf="productoForm.get('nombre').errors">*</span>
                </label>
                <input type="text" class="form-control" formControlName="nombre" placeholder="Nombre del producto">
            </div>
            <div class="form-group">
                <label>
                    Marca
                    <span class="required text-warning" *ngIf="productoForm.get('marca').errors">*</span>
                </label>
                <input type="email" class="form-control" formControlName="marca" placeholder="Marca del producto">
            </div>
            <div class="form-group">
                <label>
                    Proveedor
                    <span class="required text-warning" *ngIf="productoForm.get('proveedor').errors">*</span>
                </label>
                <input type="email" class="form-control" formControlName="proveedor" placeholder="Proveedor del producto">
            </div>
            <div class="form-group">
                <label>
                    Stock
                    <span class="required text-warning" *ngIf="productoForm.get('stock').errors">*</span>
                </label>
                <input type="number" class="form-control" formControlName="stock" placeholder="Número de unidades del producto" min="0">
            </div>
            <div class="form-group">
                <label>
                    Bodega
                    <span class="required text-warning" *ngIf="productoForm.get('bodega').errors">*</span>
                </label>
                <select class="form-control" formControlName="bodega">
                <option>Seleccione...</option>
                <option>Bodega # 1</option>
                <option>Bodega # 2</option>
                <option>Bodega # 3</option>
                <option>Bodega # 4</option>
                <option>Bodega # 5</option>
              </select>
            </div>
            <div class="form-group">
                <label>Imagen</label>
                <input type="file" class="form-control-file">
                <small id="fileHelp" class="form-text text-muted">Seleccione la imagen del producto (jpg, png).</small>
            </div>
            <button type="submit" class="btn btn-primary" (click)="guardar()" [disabled]="!productoForm.valid">Guardar</button>
            <button type="submit" class="btn btn-secundary" (click)="irAtras()">Cancelar</button>
        </form>
    </div>
</div>